language: android

jdk:
    - oraclejdk8

android:
  components:
    - platform-tools
    - tools
    - build-tools-27.0.1
    - android-27
    - extra-android-m2repository

script:
  - ./gradlew assembleFdroidRelease